@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--background: 111, 100%, 95%;
		--foreground: 112, 83%, 7%;
		--card: 105, 80%, 98%;
		--card-foreground: 112, 83%, 7%;
		--popover: 105, 80%, 98%;
		--popover-foreground: 112, 83%, 7%;
		--primary: 113, 55%, 52%;
		--primary-foreground: 112, 83%, 93%;
		--secondary: 115, 55%, 71%;
		--secondary-foreground: 112, 83%, 7%;
		--muted: 115, 55%, 71%;
		--muted-foreground: 112, 83%, 7%;
		--accent: 189, 84%, 62%;
		--accent-foreground: 112, 83%, 7%;
		--destructive: 0, 84.2%, 60.2%;
		--destructive-foreground: 0, 0%, 98%;
		--border: 0, 0%, 89.8%;
		--input: 0, 0%, 89.8%;
		--ring: 0, 0%, 3.9%;
		--chart-1: 12, 76%, 61%;
		--chart-2: 173, 58%, 39%;
		--chart-3: 197, 37%, 24%;
		--chart-4: 43, 74%, 66%;
		--chart-5: 27, 87%, 67%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 111, 100%, 5%;
		--foreground: 112, 83%, 93%;
		--card: 105, 80%, 2%;
		--card-foreground: 112, 83%, 93%;
		--popover: 105, 80%, 2%;
		--popover-foreground: 112, 83%, 93%;
		--primary: 113, 55%, 48%;
		--primary-foreground: 112, 83%, 7%;
		--secondary: 115, 55%, 29%;
		--secondary-foreground: 112, 83%, 93%;
		--muted: 115, 55%, 29%;
		--muted-foreground: 112, 83%, 93%;
		--accent: 189, 84%, 38%;
		--accent-foreground: 112, 83%, 93%;
		--destructive: 0, 84.2%, 60.2%;
		--destructive-foreground: 0, 0%, 98%;
		--border: 0, 0%, 89.8%;
		--input: 0, 0%, 89.8%;
		--ring: 0, 0%, 3.9%;
		--chart-1: 12, 76%, 61%;
		--chart-2: 173, 58%, 39%;
		--chart-3: 197, 37%, 24%;
		--chart-4: 43, 74%, 66%;
		--chart-5: 27, 87%, 67%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
